body {
  font-family: "Bruno Ace SC", serif;
  background: black;
  background-image: linear-gradient(
      360deg,
      #030504 0%,
      rgba(2, 4, 3, 0.3) 51.55%,
      rgba(11, 6, 32, 0) 75%
    ),
    url("../images/paintstrokes.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  margin: 0;
}

.dopekid {
  max-width: 10px;
}
a {
  color: #b00001;
}

.backdrop {
  color: yellow;
  background-color: black;

  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  padding: 15px 15px;
}
.container {
  margin: 120px auto;
  max-width: 1000px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800px;
  font-size: 54px;
  line-height: 1.5;
  color: #b00001;
}

.form-container {
  color: yellow;
  background-color: green;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  padding: 15px 20px;
}

main {
  margin-bottom: 30px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}

.instructions {
  font-family: "Bruno Ace SC", serif;
  padding: 20px;
  border: #b00001;
  width: 80%;
  font-size: 12px;
  border-radius: 50px;
  line-height: 20px;
  color: #b00001;
}

.submit-button {
  margin-left: 10px;
  background: yellow;
  color: black;
  border: none;
  width: 150px;
  font-size: 16px;
  border: 50px;
  padding: 14px 24px;
  font-family: "Bruno Ace SC", serif;
  border-radius: 10px;
}

.fact {
  font-family: "Bruno Ace SC", serif;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  color: black;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  border-left: #b00001;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin: 30px auto;
  color: white;
  font-family: "Bruno Ace SC", serif;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
